body {
    background-color: #292e3e;
    color: #97ffe9;
    font-family: 'Rajdhani', sans-serif;
}

.container {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: 400;
}

a {
    color: orange;
}
a:hover {
    color: #97ffe9;
}

input {
    background-color: #97ffe9;
    color: #292e3e;
    font-weight: bold;
}
